#
# Xilinx Processor System CAN controller driver
# configuration options
#
# Copyright (c) 2021, Weidmueller Interface GmbH & Co. KG
# SPDX-License-Identifier: Apache-2.0
#

menuconfig CAN_XLNX
	bool "Xilinx CAN controller driver"
	depends on SOC_XILINX_ZYNQMP_RPU \
	|| SOC_XILINX_ZYNQMP_APU \
	|| SOC_XILINX_ZYNQ7000
	help
	  Enable Xilinx Zynq-7000 / ZynqMP CAN controller driver.
