# Copyright (c) 2019 Lexmark International, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_QEMU_CORTEX_R5

config BUILD_OUTPUT_BIN
	default n

config BOARD
	default "qemu_cortex_r5"

if SERIAL

	config SERIAL_HAS_DRIVER
	default y

	config UART_INTERRUPT_DRIVEN
	default n

	config UART_XLNX_PS
	default y

endif # SERIAL

if CONSOLE

	config UART_CONSOLE
	default y

endif # CONSOLE

if NETWORKING

	config NET_L2_ETHERNET
	default y
	config NET_CONFIG_SETTINGS
	default y
	config NET_CONFIG_MY_IPV4_ADDR
	default "192.0.2.1"

	config ETH_XLNX_GEM
	default y

	config ETH_XLNX_GEM_PORT_0
	default y
	config ETH_XLNX_GEM_PORT_1
	default n
	config ETH_XLNX_GEM_PORT_2
	default n
	config ETH_XLNX_GEM_PORT_3
	default n

	config ETH_XLNX_GEM_PORT_0_INIT_PHY
	default y
	config ETH_XLNX_GEM_PORT_1_INIT_PHY
	default n
	config ETH_XLNX_GEM_PORT_2_INIT_PHY
	default n
	config ETH_XLNX_GEM_PORT_3_INIT_PHY
	default n

endif # NETWORKING

endif # BOARD_QEMU_CORTEX_R5
