#
# Default configuration - Xilinx ZCU102 UltraScale Eval board
#
# Copyright (c) 2020, Weidmueller Interface GmbH & Co. KG
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_XILINX_ZYNQMP_RPU=y
CONFIG_BOARD_ZCU102=y

CONFIG_XLNX_PSTTC_TIMER=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y

CONFIG_NETWORKING=y

CONFIG_GPIO=n

CONFIG_TEST_RANDOM_GENERATOR=y
CONFIG_XIP=n

