#
# Kconfig - Cortex-A9 (Zynq-7000) QEMU Emulation
#
# Copyright (c) 2020, Weidmueller Interface GmbH & Co. KG
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_QEMU_CORTEX_A9

config BUILD_OUTPUT_BIN
	default n

config BOARD
	default "qemu_cortex_a9"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 111111111

config SYS_CLOCK_TICKS_PER_SEC
	default 1000
	
if SERIAL

	config SERIAL_HAS_DRIVER
	default y

	config UART_INTERRUPT_DRIVEN
	default n

	config UART_XLNX_PS
	default y

endif # SERIAL

if CONSOLE

	config UART_CONSOLE
	default y

endif # CONSOLE

if NETWORKING

	config NET_L2_ETHERNET
	default y
	config NET_CONFIG_SETTINGS
	default y
	config NET_CONFIG_MY_IPV4_ADDR
	default "192.0.2.1"

	config ETH_XLNX_GEM
	default y

	config ETH_XLNX_GEM_PORT_0
	default y
	config ETH_XLNX_GEM_PORT_1
	default n

	config ETH_XLNX_GEM_PORT_0_INIT_PHY
	default y
	config ETH_XLNX_GEM_PORT_1_INIT_PHY
	default n

	config ETH_XLNX_GEM_PORT_0_DMA_BASE_ADDRESS
	default 0x00001000
	config ETH_XLNX_GEM_PORT_1_DMA_BASE_ADDRESS
	default 0x00021000

	config NET_NATIVE
	default y
	config NET_IPV6
	default y
	config NET_IPV4
	default y
	config NET_TCP
	default y
	config NET_UDP
	default y

endif # NETWORKING

if UART_PIPE

	config UART_PIPE_ON_DEV_NAME
	default "uart1"

endif # UART_PIPE

endif # BOARD_QEMU_CORTEX_A9
